body {
  background-color: black;
  display: flex;
  justify-content: center;
}

div {
  background-color: #252323;
  width: 14%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.light {
  height: 145px;
  width: 144px;
  border-radius: 100%;
  display: inline-block;
}

#red {
  background-color: red;
  margin-top: 1em;
}

#red:hover {
  background-color: red;
  box-shadow: 0 0 30px red;
}

#yellow {
  background-color: yellow;
  margin: 5%;
}

#yellow:hover {
  background-color: yellow;
  box-shadow: 0 0 30px yellow;
}

#green {
  background-color: green;
  margin-bottom: 1em;
}

#green:hover {
  background-color: green;
  box-shadow: 0 0 30px green;
}
